*{margin: 0; padding: 0}

a {
    color: 12px;
    color: #ce0909;
    border: 1px solid #8b8989;
    background: white;
    text-decoration: none;
    /* height: 13px; */
    /* margin: 1px 0px 99px; */
}
textarea {
    width: 317px;
    height: 80px;
}
fieldset {
    background: #c5dfff;
}

input[type="submit"] {
    
color: #0066ff;
}

input[type="reset"] {
    color: red;
}
.chung1 {margin-top: 9px;padding: 10p;}
.ma{
    width: 505px;
    margin-left: 527px;
}
#myForm{
            display: none;
        }
table {
    border-collapse: collapse; 
}