*{margin: 0; padding: 0}
textarea {
    width: 317px;
    height: 80px;
}
fieldset {
    background: #c5dfff;
}

input[type="submit"] {
    
color: #0066ff;
}

input[type="reset"] {
    color: red;
}
.chung1 {margin-top: 9px;padding: 10p;}
.ma{
    width: 505px;
    margin-left: 527px;
}
#myForm{
            display: none;
        }
table {
    border-collapse: collapse; 
}