*{
	margin: 0;padding: 0;
}
tr td#zero{
	background: #050505;
}
table{
	width: 600px;
	height: 600px;
	text-align: center;
	margin-left: 415px;
	background: #f89809;
	border-collapse: collapse;
	border: 2px solid #f89809;
}

tbody {
    /* margin-left: 53px; */
}

td#one {
    background: white;
}

td#tn,th#tn {
    background: #f89809;
    padding: 5px;
}
body{
	text-align: center;
}
td{
	padding: 15px;
	border: -10px solid white;
	font-size: 25px;
	
}