*{margin: 0; padding: 0}

select.h {
    margin-left: 82px;
}

select.h {}

input.i {
    margin-left: 19px;
}

textarea {
    margin-left: 79px;
    width: 317px;
    height: 80px;
}

input.g {
    margin-left: 66px;
}

input.f {
    margin-left: 73px;
}

input.e {
    margin-left: 39px;
}

input.d {
    margin-left: 42px;
}

input.c {
    margin-left: 47px;
}

.hh {
    
    margin-left: 13px;
    margin-top: 6px;
}

fieldset {
    background: #c5dfff;
}

input[type="submit"] {
    
    color: #0066ff;
}

input[type="reset"] {
    color: red;
}

.re {
    float: right;
    margin-right: 62px;
    font-size: 30px;
    color: red;
}

.su {
    font-size: 28px;
    float: left;
    padding-left: 30px;
}

.chung1 {margin-top: 9px;padding: 10p;}
.ma{
    width: 505px;
    margin-left: 527px;
    /*background: #7fe2ff8c;*/
}
.ti{
    text-align: center;
    margin-top: 10px;
}
